#-files- {
    font-size: 0.85em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 8%;
    background-color: #111111;
    word-wrap: break-word;
}
#context-menu {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 25px;
    background-color: #222222;
}
#editor {
    margin: 0;
    position: absolute;
    top: 25px; 
    bottom: 0; 
    left: 8%; 
    right: 0; 
    width: auto
}
.file {
    color: white;
    background-color: #111111;
    padding-bottom: 0;
    padding-top: 0;
    user-select: none;
}
.file:hover {
    background-color: #333333;
    cursor: pointer;
    user-select: none;
}
.pad {
    position: relative;
    left: 10px;
}
.folder:hover {
    cursor: pointer;
    background-color: #333333;
}
.context-item {
    width: 70px;
    margin: 0 0 0 0;
    padding-top: 5px;
    height: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    font-size: 0.85em;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
}
.context-item:hover {
    background-color: #333333;
    cursor: default;
}
#context-items:hover {
    cursor: default;
}