body {
    background-color: #333333;
}

#file-container {
    font-size: 0.85em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 8%;
    background-color: #111111;
    word-wrap: break-word;
}
#editor {
    margin: 0;
    position: absolute;
    top: 25px; 
    bottom: 0; 
    left: 8%; 
    right: 0; 
    width: auto
}
.file {
    color: white;
    background-color: #111111;
    padding-bottom: 0;
    padding-top: 0;
    user-select: none;
}
.file:hover {
    background-color: #333333;
    cursor: pointer;
    user-select: none;
}
.pad {
    position: relative;
    left: 10px;
}
.folder:hover {
    cursor: pointer;
    background-color: #333333;
}
#context-menu {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: absolute;
    left: 15px;
    top: 0;
    height: 25px;
    width: auto;
    background-color: #333333;
    
    text-decoration:none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    color:#f0f0f0;
    white-space:nowrap
}
#context-menu li {
    float:left;
    list-style:none;
    padding-left: 3px;
    padding-right: 3px;
    cursor: default;
    position: relative;
    top: 5px;
}
#context-menu li:hover {
    background: #222222;
}
#context-menu li a {
    text-decoration:none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    color:#f0f0f0;
}
#context-menu li a:hover {
    color:#af0000;
}
#context-menu li a span.ui-icon-carat-1-e {
    float:right;
    position:static;
    margin-top:2px;
    width:16px;
    height:16px;  background:url(http://download.jqueryui.com/themeroller/images/ui-icons_ffffff_256x240.png) no-repeat -64px -16px;
}
#context-menu li ul {
    display:block;
    position:absolute;
    padding:5px 0px;
    background: #333333;
    width: auto;
}
#context-menu li ul li {
    float:none;
    width:auto;
    margin-right: 4px;
}
#context-menu li ul li:hover {
    background: #222222;
}
#context-menu li ul li a {
    font-size:0.9em;
}